BODY {
    FONT-FAMILY: Arial
}
#mwpDrop {
    DISPLAY: none! important
}
.articlead {
    DISPLAY: none! important
}
.ishoppertext {
    DISPLAY: none! important
}
A.oldl2 {
    DISPLAY: none! important
}
A.sponsoredmaroon2 {
    DISPLAY: none! important
}
A.sponsoredblack2 {
    DISPLAY: none! important
}
DIV#AdTopDiv {
    DISPLAY: none! important
}
DIV#AdDiv {
    DISPLAY: none! important
}
DIV#AdBGDiv {
    DISPLAY: none! important
}
DIV#AdChatDiv {
    DISPLAY: none! important
}
DIV#AdIntermissionDiv {
    DISPLAY: none! important
}
DIV#GuestOpaque {
    DISPLAY: none! important
}
DIV#GuestPop {
    DISPLAY: none! important
}
DIV#HBpromo3 {
    DISPLAY: none! important
}
DIV#IZKflashDalaiDiv {
    MARGIN-TOP: -45px! important
}
DIV#NMI_pop {
    DISPLAY: none! important
}
DIV#NispOffersBB {
    DISPLAY: none
}
DIV#ad-side {
    DISPLAY: none! important
}
DIV#ad-lb {
    DISPLAY: none! important
}
DIV#adParts {
    DISPLAY: none! important
}
DIV#adbriteimg {
    DISPLAY: none! important
}
DIV#adheader {
    DISPLAY: none! important
}
DIV#adhor {
    DISPLAY: none! important
}
DIV#ads_topC {
    DISPLAY: none! important
}
DIV#ads_bottomC {
    DISPLAY: none! important
}
DIV#ads_rightC {
    DISPLAY: none! important
}
DIV#advert_text {
    DISPLAY: none
}
DIV#advertiserLinks {
    DISPLAY: none! important
}
DIV#adxCircBottom {
    DISPLAY: none! important
}
TD#advertiserLinkImg {
    DISPLAY: none! important
}
DIV#adxToolSponsor {
    DISPLAY: none! important
}
DIV#adxLeaderboard {
    DISPLAY: none! important
}
DIV#appdiv {
    VISIBILITY: visible! important
}
DIV#bdfs1 {
    DISPLAY: none! important
}
DIV#bdfs2 {
    DISPLAY: none! important
}
DIV#bdfs3 {
    DISPLAY: none! important
}
DIV#cb_table_main {
    DISPLAY: none! important
}
DIV#chinazads {
    DISPLAY: none! important
}
DIV#couplet_right {
    DISPLAY: none! important
}
DIV#couplet_left {
    DISPLAY: none! important
}
DIV#couplet {
    DISPLAY: none! important
}
DIV#dropin {
    DISPLAY: none! important
}
DIV#dropinboxv2cover {
    DISPLAY: none! important
}
DIV#elementDiv {
    DISPLAY: none! important
}
DIV#floatingbanner {
    DISPLAY: none! important
}
DIV#FloatingLayer {
    DISPLAY: none! important
}
DIV#floatingbox {
    DISPLAY: none! important
}
DIV.AdBriteAdBox {
    DISPLAY: none! important
}
DIV#headband {
    DISPLAY: none! important
}
DIV#huashuolayer2 {
    DISPLAY: none! important
}
DIV#huashuolayer3 {
    DISPLAY: none! important
}
DIV#myleft {
    DISPLAY: none! important
}
DIV#dangdang {
    DISPLAY: none! important
}
DIV#netease4 {
    DISPLAY: none! important
}
DIV#myright {
    DISPLAY: none! important
}
DIV#ibwidebox {
    DISPLAY: none! important
}
DIV#introportion {
    DISPLAY: none! important
}
DIV#upperad {
    DISPLAY: none! important
}
DIV#invuediv {
    DISPLAY: none! important
}
DIV.r#k {
    DISPLAY: none! important
}
DIV.spon {
    DISPLAY: none! important
}
DIV.yshp_ad_o_n {
    DISPLAY: none! important
}
DIV.yshp_ad_o_e {
    DISPLAY: none! important
}
DIV.sponsor {
    DISPLAY: none! important
}
#sponsorlink {
    DISPLAY: none! important
}
DIV#yspAdWrapper {
    DISPLAY: none! important
}
DIV.tgl {
    DISPLAY: none! important
}
DIV#ovt-no-border {
    DISPLAY: none! important
}
DIV#merchfooter {
    DISPLAY: none! important
}
DIV#mouselayer {
    DISPLAY: none! important
}
DIV#nav2Holder {
    MARGIN-TOP: -90px! important; POSITION: relative
}
DIV#nnm_left_zagmenu {
    DISPLAY: none! important
}
DIV#peellayers {
    DISPLAY: none! important
}
DIV#popupwin {
    DISPLAY: none! important
}
DIV#postit {
    DISPLAY: none! important
}
DIV#preloader {
    DISPLAY: none! important
}
DIV#content {
    DISPLAY: block! important
}
DIV#rec-downloads {
    DISPLAY: none
}
DIV.rec-down-featured {
    DISPLAY: none
}
DIV.rec-left {
    DISPLAY: none
}
DIV.rec-right {
    DISPLAY: none
}
DIV#search-ads {
    DISPLAY: none
}
DIV#searchspe {
    DISPLAY: none! important
}
DIV#searchspe2 {
    DISPLAY: none! important
}
DIV#slideCode {
    DISPLAY: none! important
}
DIV#sponsorLinks {
    DISPLAY: none! important
}
DIV#sponsorl {
    DISPLAY: none! important
}
DIV#sponsoraddiv {
    DISPLAY: none! important
}
DIV#sponsoredlinks {
    DISPLAY: none
}
DIV.sponsoredLinks {
    DISPLAY: none
}
DIV#SponsoredLinks {
    DISPLAY: none
}
DIV#threenine {
    DISPLAY: none! important
}
DIV#threenine1 {
    DISPLAY: none! important
}
DIV#topjobs {
    DISPLAY: none! important
}
DIV#topp-ad {
    DISPLAY: none! important
}
DIV.ad860x85 {
    DISPLAY: none! important
}
DIV.ad768-topp {
    DISPLAY: none! important
}
DIV.ad180-topp {
    DISPLAY: none! important
}
DIV.ad280x60 {
    DISPLAY: none! important
}
DIV.ad468-2 {
    DISPLAY: none! important
}
DIV.ad180x500a {
    DISPLAY: none! important
}
DIV.ad335 {
    DISPLAY: none! important
}
DIV.ad860x448 {
    DISPLAY: none! important
}
DIV.sponsors#topsponsors {
    DISPLAY: none! important
}
DIV#topzone {
    DISPLAY: none! important
}
DIV#ultimas {
    DISPLAY: none! important
}
DIV#v_banner {
    DISPLAY: none! important
}
DIV#v_tracker {
    DISPLAY: none! important
}
DIV#watermarklogo {
    DISPLAY: none! important
}
DIV#wrap_leader {
    DISPLAY: none
}
DIV#yatad_ovt {
    DISPLAY: none! important
}
DIV.Right {
    DISPLAY: none! important
}
DIV.TextAd {
    DISPLAY: none! important
}
DIV.leaveMeAlone {
    DISPLAY: none! important
}
DIV.adMsg {
    DISPLAY: none! important
}
DIV.ad728 {
    DISPLAY: none! important
}
DIV.textlink {
    DISPLAY: none! important
}
DIV.ad468 {
    DISPLAY: none! important
}
DIV.adbox {
    DISPLAY: none! important
}
DIV#adbox {
    DISPLAY: none! important
}
DIV.adboxes {
    DISPLAY: none! important
}
DIV#thelayer {
    DISPLAY: none! important
}
DIV#nowads {
    DISPLAY: none! important
}
DIV.additionalResources {
    DISPLAY: none! important
}
DIV.sponsored_links {
    DISPLAY: none! important
}
DIV.asl_margin {
    DISPLAY: none
}
DIV#btm_btn_ad {
    DISPLAY: none
}
DIV.rr_prem_shell {
    DISPLAY: none
}
DIV.circ_wrap {
    DISPLAY: none
}
DIV.htb {
    DISPLAY: none
}
DIV.rr_ldr {
    DISPLAY: none
}
DIV.boxbody#ad {
    DISPLAY: none! important
}
DIV.ch#tpa1 {
    DISPLAY: none! important
}
DIV.ch#tpa2 {
    DISPLAY: none! important
}
DIV.ch#tpa3 {
    DISPLAY: none! important
}
DIV.commercematch {
    DISPLAY: none! important
}
DIV.commercenonmatch {
    DISPLAY: none! important
}
DIV.content-tab-slinks {
    DISPLAY: none! important
}
DIV.content-block-slinks {
    DISPLAY: none! important
}
P.story-cip {
    DISPLAY: none! important
}
DIV.contentbanner {
    DISPLAY: none! important
}
DIV.bmc_content {
    DISPLAY: none! important
}
DIV.espotting {
    DISPLAY: none! important
}
DIV.float-side-div {
    DISPLAY: none! important
}
DIV.gsp {
    DISPLAY: none! important
}
DIV.txtBoxSponsored {
    DISPLAY: none! important
}
DIV.guaranteedTopSpot {
    DISPLAY: none! important
}
DIV.headlineAffiliates {
    DISPLAY: none! important
}
DIV.macad {
    DISPLAY: none
}
DIV#hs-cont {
    DISPLAY: none
}
DIV#sl-cont {
    DISPLAY: none
}
DIV#pctbg {
    DISPLAY: none
}
TABLE#dirmtable {
    DISPLAY: none
}
UL#dirm {
    DISPLAY: none
}
DIV.quadad {
    DISPLAY: none! important
}
TABLE.halfad {
    DISPLAY: none! important
}
DIV.sponsRes {
    DISPLAY: none! important
}
DIV.sponsored_link {
    DISPLAY: none! important
}
DIV.sponsored_links_article {
    DISPLAY: none! important
}
IFRAME#alertsPromo {
    DISPLAY: none! important
}
IFRAME#sponsored_iframe {
    DISPLAY: none
}
IFRAME.adFrame {
    DISPLAY: none! important
}
IFRAME.adFrameLarge {
    DISPLAY: none! important
}
OL.sponsored {
    DISPLAY: none! important
}
P.bstext {
    DISPLAY: none! important
}
P.rightcolbox {
    DISPLAY: none! important
}
TD.ninetydaytrialbox {
    DISPLAY: none! important
}
P.sponsored {
    DISPLAY: none! important
}
P.try-sponsored {
    DISPLAY: none! important
}
DIV.adverpost {
    DISPLAY: none! important
}
SPAN#nowads {
    DISPLAY: none! important
}
DIV#followDiv1 {
    DISPLAY: none! important
}
DIV#followDiv2 {
    DISPLAY: none! important
}
DIV#aspsky {
    DISPLAY: none! important
}
TABLE#BannerTbl {
    DISPLAY: none! important
}
TABLE#BannerTblHelp {
    DISPLAY: none! important
}
TABLE#ad_leaderboard {
    DISPLAY: none
}
TABLE#googleadsa {
    DISPLAY: none! important
}
TABLE#mxsJDP {
    DISPLAY: none! important
}
TABLE#mxsJDPTopRight {
    DISPLAY: none! important
}
TABLE#mxsJDPSubDet {
    DISPLAY: none! important
}
TABLE#poplayer {
    DISPLAY: none! important
}
DIV#dwindow {
    DISPLAY: none! important
}
DIV#fadeinbox {
    DISPLAY: none! important
}
DIV#point1 {
    DISPLAY: none! important
}
TABLE#sponsoredLinksRight {
    DISPLAY: none! important
}
TABLE.kasten_markt {
    DISPLAY: none
}
TABLE.sponsoredlinks {
    DISPLAY: none! important
}
TABLE.webSearch {
    DISPLAY: none! important
}
TABLE.yhlthsasoutline {
    DISPLAY: none! important
}
DIV.ovt#west {
    DISPLAY: none! important
}
DIV.ovt#east {
    DISPLAY: none! important
}
TD#TowerAdSpace {
    DISPLAY: none! important
}
TD#sky {
    DISPLAY: none! important
}
DIV#subad {
    DISPLAY: none! important
}
DIV#ymadbn {
    DISPLAY: none! important
}
TABLE#shp {
    DISPLAY: none! important
}
DIV.marketplace {
    DISPLAY: none! important
}
DIV#d2 {
    DISPLAY: none! important
}
DIV#ext {
    DISPLAY: none! important
}
DIV#popupdiv {
    DISPLAY: none! important
}
SPAN#SkyScrpr {
    DISPLAY: none! important
}
DIV#bottomAdvertise {
    DISPLAY: none! important
}
DIV#horizads {
    DISPLAY: none! important
}
DIV#ygrp-sponsor-box {
    DISPLAY: none! important
}
DIV#ygrp-sponsored-links {
    DISPLAY: none! important
}
UL.sr_sponsered {
    DISPLAY: none! important
}
DIV#solPointShell {
    DISPLAY: none! important
}
DIV#VisitorOverlayAd {
    DISPLAY: none! important
}
DIV#sponseredlinks {
    DISPLAY: none! important
}
TABLE.ysptblbdr3 {
    DISPLAY: none! important
}
DIV.top_ads {
    DISPLAY: none! important
}
TD.entirerighttoolbar {
    DISPLAY: none! important
}
TD.tbcj {
    DISPLAY: none! important
}
TD.google_ads {
    DISPLAY: none! important
}
TD.yschsec {
    DISPLAY: none! important
}
TR.s-odd {
    DISPLAY: none
}
TR.s-odd {
    DISPLAY: none
}
TR.s-even {
    DISPLAY: none
}
TR.s-even {
    DISPLAY: none
}
DIV.wide {
    DISPLAY: none
}
DIV.cpc#cpc1 {
    DISPLAY: none
}
DIV.spec {
    DISPLAY: block
}
DIV.wide#globalcontent {
    DISPLAY: block
}
DIV.right {
    DISPLAY: block
}
DIV.spec#specialy {
    DISPLAY: none
}
DIV.wide#col_wrap {
    DISPLAY: block
}

.num {
    FONT-SIZE: 12px; WIDTH: 30px; COLOR: #000; FONT-FAMILY: verdana; TEXT-ALIGN: right
}
.symbols {
    FONT-SIZE: 30px; BACKGROUND: #000; COLOR: #f1f1f1; FONT-FAMILY: wingdings; TEXT-ALIGN: center
}
.viewsymbol {
    FONT-SIZE: 100px; BACKGROUND: #000; WIDTH: 150px; COLOR: #f1f1f1; FONT-FAMILY: wingdings; HEIGHT: 150px
}